@model GigHub.ViewModels.GigsDetailsViewModel


<h2>
    @Model.Gig.Artist.Name
    @if (User.Identity.IsAuthenticated)
    {
        <button data-user-id="@Model.Gig.ArtistId" 
                class="btn @(Model.IsFollowing ? "btn-info" : "btn-default")
                            js-toggle-follow">
            @(Model.IsFollowing ? "Following" : "Follow?")
        </button>
    }
</h2>
<p>
    Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("HH:mm")
</p>

@if (User.Identity.IsAuthenticated && Model.IsAttending)
{
    <p>You are going to this event</p>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                if (button.text().trim() == "Follow?") {
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .addClass("btn-info")
                            .removeClass("btn-default")
                            .text("Following");
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
                }
                else {
                    $.ajax({
                        url: "/api/followings/" + button.attr("data-user-id"),
                        type: "DELETE"
                    })
                    .done(function () {
                        button
                            .addClass("btn-default")
                            .removeClass("btn-info")
                            .text("Follow?");
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
                }
            });
        });
    </script>
}