@model GigHub.ViewModels.GigsViewModel

<h1>@Model.Heading</h1>
@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div id="searchGigs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new
       {
           @class = "form-control",
           placeholder = "Search by artits, genre or venue",
           autofocus = "autofocus"
       })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}
<ul id="gigs" class="gigs voffset4">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    <a href="@Url.Action("Details", "Gigs", new {id = @gig.Id })">
                        @gig.Artist.Name
                    </a>
                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning">
                            Canceled
                        </span>
                    }

                    @if (Model.ShowActions)
                    {
                        <button data-user-id="@gig.ArtistId" class="btn btn-link btn-sm pull-right js-toggle-follow" 
                                value="@(Model.Follows.Contains(gig.ArtistId) ? "Following" : "Follow?")">
                            @(Model.Follows.Contains(gig.ArtistId) ? "Following" : "Follow?")                             
                        </button>
                    }

                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>

                @if (Model.ShowActions && !gig.IsCanceled)
                {
                    <button data-gig-id="@gig.Id"
                            class="btn
                            @(Model.Attendances.Contains(gig.Id) ? "btn-info" : "btn-default")
                            btn-sm pull-right js-toggle-attendance">
                        @(Model.Attendances.Contains(gig.Id) ? "Going" : "Going?")
                    </button>
                }
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        GigsController.init("#gigs");


        $(document).ready(function () {
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                var text = button.val();
                if (text == "Follow?") {
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .text("Following");
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
                }
                else {
                    $.ajax({
                        url: "/api/followings/" + button.attr("data-user-id"),
                        type: "DELETE"
                    })
                    .done(function () {
                        button
                            .text("Following");
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
                }

            });
        });
    </script>
}